button {
    width: 3em;
    height: 3em;
    font-size: 1.3em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}
button:hover{
    cursor: pointer;
}
.calculator{
    background-color: black;
    border-radius: 1em;
    padding: 1em;
}
.orange{
    background-color: #FF9500;
    color: white;
}
.grey{
    background-color: #505050;
    color: white;
}
.black{
    background-color: #1C1C1C;
    color: white;
}
#button-zero{
    grid-column: span 2;
    width: 6em;
}
.screen{
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 0.8em;
    font-size: 3em;
}

